@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

$link: #4b14b3;

$roboto: 'Roboto', sans-serif;;

body {
    background: teal !important;
    font-family: $roboto;

    img {
        max-width: 100%;
        height: auto;
    }
    * {
        box-sizing: border-box;
    }
}

.btn-purple {
    color: $link;
    border-color: $link;
    &:hover {
        background: $link;
        border-color:$link;
        color:#fff;
    }
}

a.link-form {
    color:$link;
    &:hover {
        color:lighten($link, 20%)
    }
}